<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 5</title>
    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
  </head>
  <body style="background-color:#abd8ff;">
    <img src="../resources/banner.svg" alt="A partly sunny mountain-scape." height="300px" width="100%"/>
    <nav class="menu">
        <ul>
            <li>
                <a href="../index.html">HOME</a>
                <a href="../views/two.html">PAGE 2</a>
                <a href="../views/three.html">PAGE 3</a>
            </li>
        </ul>
    </nav>
    <h1>SVG Animation is easy!</h1>
    <img src="../resources/page-three.svg" alt="Animation of a rectangle" height="200px" width="400px"/>
    <h2>My Artwork</h2>
    <img src="../resources/sunset.svg" alt="SVG Sunset Drawing" height="400px" width="400px"/>
  </body>
</html>