<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 5</title>
    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
  </head>
  <body style="background-color:#abd8ff;">
    <img src="../resources/banner.svg" alt="A partly sunny mountain-scape." height="300px" width="100%"/>
    <nav class="menu">
        <ul>
            <li>
                <a href="../index.html">HOME</a>
                <a href="../views/two.html">PAGE 2</a>
                <a href="../views/three.html">PAGE 3</a>
            </li>
        </ul>
    </nav>
    <h1>Favorite Coding Resources</h1>
    <table style="border: 2px solid black;">
        <caption>Top Coding Resources</caption>
        <thead>
            <tr>
                <th>Coding Resource</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>MDN</th>
                <td><a href="https://developer.mozilla.org/en-US/">https://developer.mozilla.org/en-US/</a></td>
            </tr>
            <tr>
                <th>W3 Schools</th>
                <td><a href="https://www.w3schools.com">https://www.w3schools.com</a></td>
            </tr>
            <tr>
                <th>GeeksforGeeks</th>
                <td><a href="https://www.geeksforgeeks.org">https://www.geeksforgeeks.org</a></td>
            </tr>
        </tbody>
    </table>
  </body>
</html>